<div class="w-full flex justify-center">
  <form
    class="mt-40"
    tuiAppearance="floating"
    tuiCardLarge
    tuiForm="m"
    [formGroup]="form"
    [style.min-width.rem]="35"
    (ngSubmit)="submit()"
  >
    <header tuiHeader>
      <h2 tuiTitle>
        {{ form.value.isLogin ? "Вход" : "Регистрация" }}
        <span tuiSubtitle>Используйте учетные данные от платформы</span>
      </h2>
      <span tuiAccessories>
        <tui-segmented>
          <label>
            <input formControlName="isLogin" type="radio" [value]="true" />
            Вход
          </label>
          <label>
            <input formControlName="isLogin" type="radio" [value]="false" />
            Регистрация
          </label>
        </tui-segmented>
      </span>
    </header>
    <tui-notification appearance="error" *ngIf="error">
      <h3 tuiTitle>
        Ошибка входа
        <span tuiSubtitle>{{ error.message }}</span>
      </h3>
    </tui-notification>
    <tui-textfield>
      <label tuiLabel>Почта</label>
      <input
        formControlName="email"
        placeholder="email@test.com"
        tuiTextfield
      />
    </tui-textfield>
    <tui-textfield>
      <label tuiLabel>Пароль</label>
      <input formControlName="password" tuiTextfield type="password" />
      <tui-icon tuiPassword />
    </tui-textfield>
    <ng-container *ngIf="!form.controls.isLogin.value"> </ng-container>
    <tui-error [error]="[] | tuiFieldError | async" />
    <footer>
      <button tuiButton type="submit" [disabled]="!form.valid">Далее</button>
    </footer>
  </form>
</div>
