<div class="page flex flex-col h-full">
  <div
    class="p-5 h-32 fixed top-0 sm:left-0 md:left-64 right-0 z-40 bg-white border-b border-gray-200 space-y-2"
  >
    <div class="text-xl font-semibold w-full">Обращения</div>
    <form [formGroup]="filterForm" class="w-full flex gap-x-2">
      <div class="w-full">
        <tui-textfield>
          <label tuiLabel>Поиск</label>
          <input
            formControlName="search"
            placeholder="Field placeholder"
            tuiTextfield
          />
          <tui-icon tuiTooltip="A tooltip" />
        </tui-textfield>
        <tui-error
          formControlName="search"
          [error]="[] | tuiFieldError | async"
        />
      </div>
      <div class="w-70">
        <tui-select formControlName="filter">
          Статус
          <tui-data-list-wrapper *tuiDataList [items]="items" />
        </tui-select>
        <tui-error
          formControlName="filter"
          [error]="[] | tuiFieldError | async"
        />
      </div>
      <div>
        <button
          appearance="primary"
          tuiButton
          type="button"
          [disabled]="chatService.chats.length === 0"
        >
          Применить
        </button>
      </div>
    </form>
  </div>
  <div class="mt-32 flex-1 p-4 grid xl:grid-cols-3 md:grid-cols-2 gap-5">
    <app-chat-element *ngFor="let chat of chatService.chats()" [chat]="chat" />
    <ng-template #empty>
      <app-chat-empty />
    </ng-template>
  </div>
</div>
