<div class="page flex flex-col h-full w-full">
  <div
    class="p-5 h-30 fixed top-0 sm:left-0 md:left-64 right-0 z-40 bg-white border-b border-gray-200 space-y-2"
  >
    <form [formGroup]="filterForm" class="w-full flex gap-x-2">
      <div class="w-full">
        <tui-textfield tuiTextfieldSize="m">
          <label tuiLabel>Поиск</label>
          <input
            formControlName="search"
            placeholder="Поиск по теме или содержанию"
            tuiTextfield
          />
          <tui-icon tuiTooltip="A tooltip" />
        </tui-textfield>
        <tui-error
          formControlName="search"
          [error]="[] | tuiFieldError | async"
        />
      </div>
      <div>
        <button
          size="m"
          appearance="primary"
          tuiButton
          type="button"
          [disabled]="chatService.chats().length < 1"
        >
          Применить
        </button>
      </div>
      <div>
        <button size="m" appearance="accent" tuiButton type="button">
          <tui-icon icon="@tui.plus" />
          Добавить обращение
        </button>
      </div>
    </form>
  </div>
  <div class="mt-30 flex-1">
    <div
      *ngIf="chatService.chats().length !== 0; else empty"
      class="w-sm h-full p-2 border-r border-gray-200 flex flex-col flex-wrap fixed overflow-x-auto scroll-smooth scrollbar-hidden space-y-2"
    >
      <app-chat-element
        *ngFor="let chat of chatService.chats()"
        [chat]="chat"
        class="w-full"
      />
    </div>
    <ng-template #empty>
      <app-chat-empty />
    </ng-template>
    <div class="ml-[384px] h-full">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
